@import url("https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap");

.PwChangeLayout{
  // max-width:350px;
  border-radius: 10px;
  border:1px solid black;
  padding-top:30px;
  padding:0px;

  .pair{
    color:black;
    display:flex;
    .L{
      // padding:10px;
      width:90px;
      margin-left:15px;
      line-height: 20px;
    }
    input{
      margin-left:10px;
      height:35px;
    }
  }

  .innerForm{
    max-width:350px;
    margin:0 auto;
    margin-top:40px;
    margin-bottom:40px;
    h1{
      padding:20px;
    }
  }

  .headertitle {
    margin-top: 50px;
    padding: 1em;
    font-family: "Rubik Vinyl";
    font-weight: bold;
    font-size: 4em;
    @media (max-width: 900px) {
      font-size: 2em;
    }
  }
  text-align: center;
  margin:0 auto;
}