@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap");

.link {
  width: 200px;
  height: 50px;
  font-size: 32px;
  border-radius: 30px;
  background-color: #111111;
  font-family: "Noto Sans KR", sans-serif;
  color: white;
  font-weight: bolder;
  text-align: center;
  text-decoration: none;
  &:hover {
    background-color: #757575;
  }
}
@media (max-width: 900px) {
  .link {
    width: 100px;
    height: 25px;
    font-size: 16px;
  }
}
