body::-webkit-scrollbar {
  width: 12px;
}

/* 스크롤바 막대 */
body::-webkit-scrollbar-thumb {
  background-color: rgb(200, 200, 200);
  /* 스크롤바 둥글게 설정    */
  border-radius: 10px;
}

/* 스크롤바 배경*/
body::-webkit-scrollbar-track {
  background-color: #797979;
}