.writeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: orange;
  border-radius: 50px;
  right: 50px;
  bottom: 50px;
  position: fixed;
  &:hover {
    background-color: skyblue;
    cursor: pointer;
  }
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  background-color: azure;
  border: 2px solid black;
}
.wrap {
  height: 830px;
  overflow: auto;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
}
.wrap::-webkit-scrollbar {
  width: 10px;
}

/* 스크롤바 막대 설정*/
.wrap::-webkit-scrollbar-thumb {
  background-color: rgb(200, 200, 200);
  /* 스크롤바 둥글게 설정    */
  border-radius: 10px;
}

/* 스크롤바 뒷 배경 설정*/
.wrap::-webkit-scrollbar-track {
  background-color: #797979;
}
@media (max-width: 900px) {
  .modal {
    width: 300px;
  }
  .writeButton {
    top: 150px;
  }
  .wrap {
    .container {
      margin-top: 16px;
    }
  }
}
