.wrap {
  .container {
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
  }
}
.writeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: orange;
  border-radius: 50px;
  right: 50px;
  bottom: 50px;
  position: fixed;
  &:hover {
    background-color: skyblue;
    cursor: pointer;
  }
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  background-color: azure;
  border: 2px solid black;
}

.outerBox {
  margin-left: 100px;
  margin-right: 100px;
  height: 50px;
  width: 100px;
}
@media (max-width: 900px) {
  .modal {
    width: 300px;
  }
  .writeButton {
    top: 150px;
  }
  .wrap {
    .container {
      margin-top: 16px;
      margin-left: 0;
      margin-right: 0;
    }
  }
}
