.EachReviewLayout{
  // background-color: red;
  padding:10px;
  

  .reviewContents{
    display: flex;
    padding:10px;
    border:1px solid black;
    min-height: 150px;

    .profileSection{
      border: 1px solid black;
      padding:10px;
      width:100px;
    }

    .detailInfos{
      margin-left:10px;
      padding:10px;
      width:100%;
      border: 1px solid black;
    }
  }


}

.CommentSectionLayout{
  background-color: burlywood;
  font-weight:bold;
}