.ReviewFormLayout{
  text-align: left;
  border:1px solid black;
  margin:10px;
  padding:10px;


  .titleInputSection{
  }
  
  .contentInputSection{
  }

  input[type=text]{
    width:100%;
    min-width:200px;
  }

  textarea{
    min-width:200px;
    width:100%;
    min-height:200px;
    resize: none;
  }
  .rating{
    
  }

  .ReviewFormBtns{
    text-align: right;
    
  }
}