.DetailArticlesLayout{
  background-color: burlywood;
  padding:30px;
  button{
    cursor:pointer;
  }

  @media screen and (max-width:900px) {
    padding:10px;
  }
  h1{
    margin:20px;
    text-align: center;
  }
}

.contentBox{
  max-width:600px;
  margin:0px auto;
  padding:10px;
  padding-top:3px;
  padding-bottom:3px;
  background-color:wheat;
}

.mainContent{
  margin:5px auto;
  background-color:white;
  padding:5px;
}

.eachContent{
  display:flex;
  justify-content: space-between;
  
  background-color:white;
  padding:5px;

  .gym_Article_title{
    margin-left:10px;
  }
  .gym_Article_controlBtns{
    margin-top:10px;
    button {
      margin-right:10px;
      font-weight: bold;
      height: 35px;
      border-radius:5px;
      cursor:pointer;
      border:1px solid bisque;
      background-color: ivory;
      &:hover{
        background-color: bisque;
      }
    }
  }
}

.imgContent{
  margin:5px auto;
  padding:30px;
  background-color:white;
}