
.contentBox{
  max-width:600px;
  margin:0px auto;
  // padding:15px;
  // padding-top:3px;
  // padding-bottom:3px;
  // background-color:wheat;
}

.mainContent{
  margin:5px auto;
  background-color:white;
  padding:5px;
}

.eachContent{
  button{
    font-weight:bold;
    cursor:pointer;
    border:solid 1px black;
    margin-left:2px;
  }
  margin:0 auto;

  .btnField{
    text-align: center;
    padding-bottom:10px;
    button{
      // 수정 취소 버튼
      
      padding:5px;
      width:70px;
      border:solid 1px rgb(207, 204, 204);
      margin:5px;
      margin-top:15px;
      border-radius:3px;
    }
  }

  .center{
    margin:0 auto;
    padding:10px;
    
    display:flex;
    justify-content: center;
    display:flex;
    flex-direction: column;
    background-color: rgb(234, 234, 234);

    .outerWyz{
      margin:10px;
      margin-top:30px;
      margin-bottom:30px;
      
    }
    .eachField{
      display:flex;
      text-align: center;
      margin:0 auto;
      margin-top:10px;
      

      .fieldName{
        width:100px;
      }
      .WyzContents{
        width:300px;
      }
      .dataField{
        
        input{
          min-width:200px;
        }
        .on{
          background-color: orange;
          &:hover{
            color:white;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
          }
        }
        .off{
          &:hover{
            color:white;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
          }
        }
        textarea{
          resize:none;
          width:200px;
          height:100px;
        }
      }
    }
  }
}
