.DetailArticlesLayout{
  background-color: burlywood;
  padding:30px;
  button{
    cursor:pointer;
  }

  @media screen and (max-width:900px) {
    padding:10px;
  }
  h1{
    margin:20px;
    text-align: center;
  }
  button {
    margin-right:10px;
    margin-top:10px;
    font-weight: bold;
    height: 35px;
    border-radius:5px;
    cursor:pointer;
    border:1px solid bisque;
    background-color: ivory;
    &:hover{
      background-color: bisque;
    }
  }
}

.contentBox{
  max-width:600px;
  margin:0px auto;
  padding:10px;
  padding-top:3px;
  padding-bottom:3px;
  background-color:wheat;
}

.mainContent{
  margin:5px auto;
  background-color:white;
  padding:5px;

  .titleSection{
    display:flex;
    margin:0;
    width:100%;
    .Left{
      width:80%;
      min-width:60px;
      padding:5px;
      font-weight:bold;
    }
    .Right{
      width:20%;
      padding:5px;
    }

  }
}

.flex{
  display:flex;
  margin:0;
  width:100%;
  .Left{
    width:20%;
    min-width:60px;
    padding:5px;
    font-weight:bold;
  }
  .Right{
    width:80%;
    padding:5px;
  }
}

.eachContent{
  background-color:white;
  padding:0px;
  margin:0px auto;

  textarea {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 2px white;
    background-color: white;
    font-size: 16px;
    resize: none;
  }
  textarea:focus{
    outline: none;
  }
}

.imgContent{
  margin:5px auto;
  padding:30px;
  background-color:white;
}