
.contentBox{
  max-width:600px;
  margin:0px auto;
  padding:10px;
  padding-top:3px;
  padding-bottom:3px;
  background-color:bisque;
}

.mainContent{
  margin:5px auto;
  background-color:white;
  padding:5px;
}

.eachContent{
  button{
    font-weight:bold;
    cursor:pointer;
    border:solid 1px black;
    margin-left:2px;
  }
  background-color:bisque;
  border:1px solid black;
  margin:0 auto;
  margin-top:20px;
  margin-bottom:20px;
  width:320px;

  .btnField{
    text-align: center;
    padding-bottom:10px;
    button{
      // 수정 취소 버튼
      padding:5px;
      width:70px;
      border:solid 1px black;
      margin:5px;
      border-radius:3px;
    }
  }

  .center{
    margin:0 auto;
    padding:10px;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;

    .eachField{
      display:flex;
      text-align: center;
  
      .fieldName{
        width:70px;
      }
      .WyzContents{
        width:200px;
        background-color: red;
      }
      .dataField{
        margin:3px;
        input{
          width:200px;
        }
        .on{
          background-color: orange;
          &:hover{
            color:white;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
          }
        }
        .off{
          &:hover{
            color:white;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
          }
        }
        textarea{
          resize:none;
          width:200px;
          height:100px;
        }
      }
    }
  }
}
