.CommentSectionLayout{
  button{
    cursor:pointer;
    &:hover{
      background-color: blanchedalmond;
    }
    border:1px solid gainsboro;
    background-color: ivory;
    border-radius:5px;
  }
  background-color: white;
  padding:10px;
  margin-top:5px;
  margin-bottom:10px;
  
  .postComment{
    
    width:100%;
    padding:20px;
    border:solid 1px solid;
    text-align:right;
    
    button{
      padding:5px;
      width:60px;
      border-radius:3px;
    }

  }

  .commentPostFormLayout{
    width:100%;
    min-height:100px;
    border:1px solid black;
    padding:10px;
    border:2px solid red;

    textarea{
      width:100%;
      height:70px;
      resize:none;
    }
    
    .flexbox{
      display:flex;
      justify-content: center;

      button{
        padding:3px;
        width:70px;
        margin:5px;
        border-radius:5px;
      }
    }
  }

  .moreComments{
    width:100%;
    padding:20px;
    border:solid 1px solid;
    text-align:left;
    button{
      padding:5px;
      // font-weight:bold;
    }
  }
}