.EachCommentLayout {
  span{margin-left:5px;}
  button {cursor: pointer;
    font-weight: bold;
    border:1px solid lightgray;
    border-radius: 3px;
    margin:3px;
  }

  .originalComment {
    min-height:100px;
    background-color: white;
    border: 1px solid black;
    padding:20px;
    margin-top: -1px;
    
    .topSection{
      margin-top:5px;
      margin-bottom:10px;
      display:flex;

      .topLeft{
        width:75%;
        font-size:15px; // contents
      }
      .topRight{
        display:flex;
        width:25%;
        justify-content: flex-end;
        text-align: right;
      }

    }





    .bottomSection{
      display:flex;

      .bottomLeft{
        display:flex;
        width:50%;
        justify-content: flex-start;
      }
      .bottomRight{
        display:flex;
        width:50%;
        justify-content: flex-end;
        button {
          width:30px;
        }
      }
    }
  }
}

.time{
  color:gray;
  font-size:13px;
}

.originCommentEditForm{
  width:100%;
  border:1px solid black;
  margin-top:-1px;
  padding:10px;

  textarea{
    width:100%;
    min-height:200px;
    padding:20px;
    resize:none;
    margin-bottom:4px;
    border:3px solid red;
    &:focus{
      outline-color: red;
    }
  }

  .btnArea{
    text-align:right;
    .cancelBtn{
      font-size:25px;
      color:dimgray;
    }
    .submitBtn{
      padding:0px;
    }
    button{
      width:40px;
      height:40px;
      }
    }
}

.creater{
  color:red; 
}