.SearchLayout{
  margin:0 auto;
  margin-top:20px;
  margin-bottom:20px;
  max-width:1000px;
  padding:10px;
  max-width:450px;

  // style
  border:solid 1px black;
  border-radius: 3px;
  background-color:bisque;
  
  text-align: center;
  input{
    width:200px;
    height:30px;
    padding:3px;
  }

  >div{
    margin-top:50px;
  }
  span{
    font-size:20px;
    font-weight:bold;
  }
}

// .reset{
//   width:50px;
//   color:black;
//   background-color: white;
//   background-image: url('../../../../public/reset.png');
//   background-size: 20px;
//   background-repeat: no-repeat;
//   background-origin: padding-box;
//   background-position-x: 12px;
//   background-position-y: 3px;
//   &:hover{
//     background-color: #FFDFDF;
//     color:white;
//   }
// }
