.FilterLayout{
  // size
  margin:0 auto;
  margin-top:20px;
  margin-bottom:20px;
  max-width:280px;
  padding-top:10px;

  // style
  border:solid 1px black;
  border-radius: 3px;
  background-color:bisque;
  button{
    cursor:pointer;
  }

  .topSection{
    >div{
      display:flex;
    }
    display:flex;
    justify-content: center;
    h3{
      margin-top:0px;
      font-size:20px;
      margin-right:5px;
      margin-bottom:15px;
    }
    img{
      margin-top:5px;
    }

  }
  
  .filterSection{
    display:flex;
    .filterBtns{
      button{
        width:55px;
        height:30px;
        font-weight: bold;
        color:black;
        margin:0 0 10px 10px;
        margin-left:5px;
        padding-left:20px;
        border-radius: 5px;
        border:1px solid black;
        font-size:12px;
      }
    }
    .utilBtns{
      button{
        width:37px;
        height: 30px;
        font-weight: bold;
        color:black;
        margin:0 0 5px 6px;
        border-radius: 10px;
        border:1px solid black;
      }
      .fold{
        color:black;
        &:hover{
          color:white;
        }
        // background-image: url('../../../../public/images/rental/fold.png');
        background-image: url('../../../public/images/rental/fold.png');
        background-size: 23px;
        background-repeat: no-repeat;
        background-origin: padding-box;
        background-position-x: 5px;
        background-position-y: 1px;
      }
      
      .reset{
        color:black;
        background-image: url('../../../public/images/rental/reset.png');
        background-size: 20px;
        background-repeat: no-repeat;
        background-origin: padding-box;
        background-position-x: 6.5px;
        background-position-y: 4px;
      }
    }
  }
  .center{
    text-align:center;
  }

  .filterGenerators{
    margin:10px;
    padding:10px;
    border:1px solid black;
  }

}

.on{
  text-align: left;
  padding-left:25px;
  color:black;
  background-image: url('../../../public/images/rental/triangle-down.png');
  background-size: 13px;
  background-repeat: no-repeat;
  background-origin: padding-box;
  background-position-x: 6px;
  background-position-y: 7px;
}
.off{
  text-align: left;
  padding-left:25px;
  color:black;
  background-image: url('../../../public/images/rental/triangle-right.png');
  background-size: 10px;
  background-repeat: no-repeat;
  background-origin: padding-box;
  background-position-x: 6px;
  background-position-y: 7px;
}


