@import url("https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap");

.container {
  margin-left: 100px;
  margin-right: 100px;
  .appmenu {
    display: none;
    left: 0;
  }
  .homename {
    display: flex;
    font-size: 40px;
    font-family: "Rubik Vinyl";
    text-decoration: none;
    color: black;
    img{
      margin-top:20px;
      width:100px;
    }
  }
  .listcontainer {
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
    .HeaderList {
      display: flex;
      font-family: "Noto Sans KR", sans-serif;
      font-weight: bold;
      justify-content: center;
      align-items: center;
      width: 150px;
      height: 100px;
      text-decoration: none;
      color: white;
      &:hover {
        background-color: rgb(34, 33, 33);
      }
    }
  }
  .usercircle {
    right: 0;
  }
  .searchContainer {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .select {
      width: 90px;
      height: 30px;
      border-left: none;
      border-right: 1px solid black;
      border-top: none;
      border-bottom: none;
      border-radius: 5px 0 0 5px;
    }
    .searchIcon {
      cursor: pointer;
      width: 30px;
      height: 30px;
      padding: 3px;
      color: white;
      background-color: #363636;
      border-radius: 0px 5px 5px 0;
      top: 0;
      right: 0;
    }
    .searchinputbox {
      width: 90px;
      padding-left: 5px;
      border: none;
      height: 30px;
    }
  }
  .searchMoblieContainer {
    display: none;
  }
}

@media (max-width: 900px) {
  .container {
    margin-left: 20px;
    margin-right: 20px;
    .appmenu {
      display: block;
    }
    .toolbar {
      width: 100%;
      height: 50px;
    }
    .homename {
      font-size: 30px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .listcontainer {
      display: none;
      .HeaderList {
        display: none;
      }
    }
    .searchContainer {
      display: none;
    }
    .searchMoblieContainer {
      display: flex;
      justify-content: center;
      margin-top: 10px;
      width: 100%;
      height: 50px;
      .select {
        width: 90px;
        height: 40px;
        border-left: none;
        border-right: 1px solid black;
        border-top: none;
        border-bottom: none;
        border-radius: 5px 0 0 5px;
      }
      .searchIcon {
        cursor: pointer;
        width: 40px;
        height: 40px;
        padding: 5px;
        color: white;
        background-color: #363636;
        border-radius: 0px 5px 5px 0;
        top: 0;
        right: 0;
      }
      .searchinputbox {
        width: 100%;
        padding-left: 10px;
        border: none;
        height: 40px;
      }
    }
  }
}
