@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");
.Card {
  width: 100%;
  cursor: pointer;
  &:active {
    background-color: rgb(241, 167, 7);
  }
}
.textContent {
  width: 100%;
  .cardImgContainer {
    display: flex;
  }
  .firstComment {
    padding: 16px 16px 0px;
  }
  .commentMore {
    margin-left: 10px;
  }
  .comment {
    display: flex;
    margin-bottom: 20px;
    .comment_input {
      width: 100%;
      height: auto;
      font-size: 16px;
      border: none;
      font-family: "Noto Sans KR", sans-serif;
      margin-left: 10px;
      margin-right: 10px;
      background-color: #f2f3f5;
      border-radius: 10px;
      overflow-y: scroll;

      -ms-overflow-style: none; /* 인터넷 익스플로러 */
      scrollbar-width: none; /* 파이어폭스 */
      &::-webkit-scrollbar {
        display: none; /* 크롬, 사파리, 오페라, 엣지 */
      }
    }

    .comment_submit {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 10%;
      color: skyblue;
      cursor: pointer;
    }
  }
}
@media (max-width: 900px) {
}
