.container {
  .title {
    display: flex;
    height: 50px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
  }
  .content {
    margin: 16px;
    .userBox {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }
    .contentTitle {
      display: flex;
      height: 30px;
      .inputTitle {
        width: 90%;
      }
    }
    .contentImgBox {
      display: flex;
      flex-wrap: wrap;
      .contentImg {
        width: 100px;
        height: 100px;
        object-fit: fill;
      }
      .contentAddImg {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 100px;
        background-color: #777777;
      }
    }
    .submitImgBox {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
@media (max-width: 900px) {
  .modal {
    width: 300px;
  }
}
