.container {
  .title {
    display: flex;
    height: 50px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
  }
  .content {
    margin: 16px;
    .userBox {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }
    .contentTitle {
      display: flex;
      height: 30px;
      .inputTitle {
        width: 90%;
      }
    }
    .contentImgBox {
      .contentImg {
        width: 200px;
        height: 200px;
        object-fit: fill;
      }
    }
    .submitImgBox {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
