.rentalCompLayout {
  width:1200px;
  margin:0 auto;

  .postButton{
    position:fixed;
    top:25px;
    right:5px;
    z-index: 9999;
    // position:absolute;
  
    background-color: black;
    color:white;
    font-weight:bold;
    font-size:16px;
    width:70px;
    height:50px;
    border-radius: 15px;
    cursor:pointer;
  }

  
}

.imageUploadBox{
  border:1px solid black;
  background-color: antiquewhite;
}