.Filter_Area_Layout{

  padding:10px;
  margin:0 auto;
  padding:0;
  border-radius: 10px;
  display: flex;
  justify-content: center;

  >div{
    margin:0 auto;
    padding:0px;
    display: flex;
    justify-content: center;
  }
  >div>div{
    text-align:center;
    width:100px;
    padding-top:10px;
    margin:3px;
    border-radius: 10px;
  }

  .title{font-weight: bold;}
  .center{text-align: center;}
  .content{font-weight:normal;}

  ul{
    
    padding:10px;
    li{
      padding:5px;
      border:1px solid black;
      border-collapse: collapse;
      margin-top:-1px;
      &:hover{
        background-color: red;
        color:white;
        font-weight: bold;
        cursor:pointer;
      }
    }
  }

}
.on{
  background-color: orange;
  font-weight: bold;
}
.off{
  background-color: white;
}