.SelectedValuesLayout{
  // max-width:700px;
  min-height: 52px;
  margin:10px;
  border:solid gray 1px;
  display:flex;
  flex-wrap: wrap;

  .areas{
    background-color: orange;
    width:60px;
    border-radius: 10px;
    margin:5px;
    padding:5px;
    line-height: 30px;
    cursor:pointer;
    font-weight:bold;
  }

  .price{
    background-color: orange;
    border-radius: 10px;
    margin:5px;
    padding:5px;
    line-height: 30px;
    cursor:pointer;
    font-weight:bold;
  }

  span{
    padding:10px;
    font-weight: bold;
    font-size:20px;
  }
}