.wrap {
  height: 680px;
  overflow: auto;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
}
.wrap::-webkit-scrollbar {
  width: 10px;
}

/* 스크롤바 막대 설정*/
.wrap::-webkit-scrollbar-thumb {
  background-color: rgb(200, 200, 200);
  /* 스크롤바 둥글게 설정    */
  border-radius: 10px;
}

/* 스크롤바 뒷 배경 설정*/
.wrap::-webkit-scrollbar-track {
  background-color: #797979;
}
@media (max-width: 900px) {
  .wrap {
    .container {
      margin-top: 16px;
    }
  }
}
