@import url("https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap");

.profileLayout{
  h1{font-size:20px;}
  margin:0 auto;
  width:450px;
  background-color: white;
  margin-top:50px;
  input{
    margin:0 auto;
    border-radius: 6px;
    padding:7px;
  }
  section{
    margin-bottom:50px;
  }
  p{
    font-weight:bold;
    margin:0 auto;
    margin-top:50px;
  }

  .imgPoster{
    text-align: center;
    margin-top:50px;
    margin-left:50px;
    max-width:350px;
    cursor:pointer;
    @media (max-width: 400px) {
      width:125%
    }
  }
  * {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    list-style: none;
  }
  .flex {
    display: flex;
  }
  .tabCon {
    max-width: 400px;
    margin: 0 auto;
  }
  .tabmenu input[type=radio] {
    display: none;
  }

  .tabmenu ul li {
    font-family: "KCC-eunyoung";
    font-size: 1.5rem;
    width: 30%;
    margin-right: 10px;
  }

  .tabmenu ul li label {
    font-weight: bold;
    display: block;
    background-color: #EEC591;
    border-radius: 5px 15px 0px 0;
    cursor: pointer;
    padding: 15px 8px;
    text-align: center;
    border: 2px solid black;
  }

  .tabmenu input[type=radio]:checked+label {
    background-color: #FFF8DC;
    border-width: 1px #FFF8DC;
    border-style: solid solid none solid;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid #FFF8DC;
  }

  .conbox {
    border: 2px solid black;
    max-width: 1200px;
    min-height: 300px;
    margin: 0 auto;
    margin-top: -2px;
    border-radius: 0 20px 20px 20px;
    padding: 20px;
    background-color: #FFF8DC;
  }

  button {
    font-weight: bold;
    margin-top: 2em;
    
    line-height: 40px;
    font-size: 17px;
    color: white;
    
    border-radius: 10px;
    border:3px solid gainsboro;
    background-color: whitesmoke;

    cursor: pointer;
    width:100px;
    height: 35px;

    &:hover {
      color: black;
      border:3px solid brown;
      background-color: orange;
    }
    img{
      width:30px;
      margin:0px;
    }
  }
}
