@import url("https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap");

.profileLayout{
  margin:0 auto;
  width:450px;
  background-color: white;
  margin-top:50px;

  input {
    border-radius: 6px;
    padding:7px;
  }

  section{
    margin-bottom:50px;
  }

  p{
    font-weight:bold;
    margin:0 auto;
    margin-top:20px;
    margin-bottom:5px;
  }

  .imgPoster{
    text-align: center;
    margin-top:50px;
    margin-left:50px;
    max-width:350px;
    cursor:pointer;
    @media (max-width: 400px) {
      width:125%
    }
  }
}
