.GymRentalPostLayout{
  max-width:900px;
  margin:0 auto;
  // margin-top:50px;
  // background-color:antiquewhite;
  padding-top:30px;
}

.formBox{
  // border-radius:
  width:300px;

  margin:0 auto;
  margin-bottom:50px;
  
  border:1px solid black;
  background-color: antiquewhite;
  // background-color:red;
}

.formTitle{
  margin-top:20px;
  text-align: center;
}

.bottomBtns{
  display:flex;
  margin:0 auto;
  margin-top:30px;
  width:170px;
  // background-color: red;
  button{
    display:inline-block;
  }
}