.outerCarousel {
  margin: 0 auto;
  margin-top: 40px;
  // background-color:red;
  width: 300px;

  .imgBox {
    margin: 0 auto;
    justify-content: center;

    img {
      margin-left: 5px;
      width: 300px;
      height: 200px;
      object-fit: contain;
    }
  }

  

}