.AllReviewsLayout{
  padding:10px;

  button{
    cursor:pointer;
    border:1px solid gray;
    border-radius:5px;
  }

  .reviewContents{

    display: flex;
    min-height: 227px;
    border:1px solid gray;
    border-radius:3px;
    margin-top:15px;

    .detailInfos{
      // margin-left:10px;
      padding:10px;
      width:100%;

      .topSection{
        display: flex;
        margin-bottom:5px;
        
        .title{
          padding:10px;
          font-weight: bold;
          font-size:14px;
          width:100%;
          border: 1px solid burlywood;
        }
      }

      .contents{
        margin-top:10px;
        padding:10px;
        border:1px solid black;
        min-height:120px;
        font-size:12px;
        border: 1px solid burlywood;
      }

      .bottomSection{
        margin-top:10px;
        padding:10px;
        border:1px solid black;
        display:flex;
        justify-content: space-between;
        border: 1px solid burlywood;
        .left{
          display:flex;
          font-size:13px;
          
        }
        .right{
          button{
            margin-left:10px;
            padding:5px;
            width:35px;
            border:1px solid gray;
          }
        }
      }
    }
  }

  .reviewEditForm{
    background-color:beige;
    padding:5px;
    border:1px solid black;
    margin-top:15px;

    input[type=text]{
      padding:10px;
      margin:5px;
      width:98%;
    }

    textarea{
      padding:10px;
      width:98%;
      height:120px;
      resize:none;
      margin:5px;
    }
    
    .editControlBtns{
      text-align: right;
    }

    button{
      margin-left:10px;
      height:35px;
    }
  }

}

.CommentSectionLayout{
  background-color: burlywood;
  font-weight:bold;
}