.AllReviewsLayout{
  padding:10px;

  button{
    cursor:pointer;
    border:1px solid gainsboro;
    background-color: ivory;
    border-radius:5px;
  }

  .reviewContents{
    display: flex;
    // min-height: 227px;
    border:1px solid gray;
    border-radius:3px;
    margin-top:15px;

    .detailInfos{
      // margin-left:10px;
      padding:10px;
      width:100%;

      .top{
        display: flex;
        margin-bottom:5px;
        
        .titleSection{
          margin-top:10px;
          display: flex;
          justify-content: space-between;
          // padding:10px;
          font-weight: bold;
          font-size:15px;
          width:100%;
        }
        .controlBtns{
          button{
            margin:3px;
            width:35px;
            height:35px;
            border: 1px solid burlywood;
          }
        }
      }
      .otherInfos{
        width:100%;
        font-size:12px;

        .s1{
          b{color:blue;}
        }
        .s2{
          color:#1D1D1D;
        }
        .s3{
          color:#1D1D1D;
        }
        .partition{
          margin-left:7px;
          margin-right:7px;
        }
      }

      .contents{
        margin-top:10px;
        // padding:10px;
        min-height:120px;
        font-size:12px;
      }

      .bottomSection{
        margin-top:10px;
        padding:10px;
        border:1px solid black;
        display:flex;
        justify-content: space-between;
        border: 1px solid burlywood;
        .left{
          display:flex;
          font-size:13px;
          
        }
        .right{
          button{
            margin-left:10px;
            padding:5px;
            width:35px;
            border:1px solid gray;
          }
        }
      }
    }
  }

  .reviewEditForm{
    background-color:beige;
    padding:5px;
    border:1px solid black;
    margin-top:15px;

    .rangeValue{
      margin:5px;
    }

    input[type=text]{
      padding:10px;
      margin:5px;
      width:98%;
    }

    textarea{
      padding:10px;
      width:98%;
      min-height:78px;
      resize:none;
      margin:5px;
    }
    
    .editControlBtns{
      text-align: right;
    }

    button{
      margin-left:10px;
      height:35px;
    }
  }

}

.CommentSectionLayout{
  background-color: burlywood;
  font-weight:bold;
}

.none{
  display:none
}