@import url("https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap");

.container {
  margin-left: 100px;
  margin-right: 100px;
}
.homename {
  display: flex;
  font-size: 40px;
  font-family: "Rubik Vinyl";
  text-decoration: none;
  color: white;
}
.HeaderList {
  display: flex;
  font-family: "Noto Sans KR", sans-serif;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100px;
  text-decoration: none;
  color: white;
  &:hover {
    background-color: rgb(34, 33, 33);
  }
}
.listcontainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.usercircle {
  right: 0;
}
.appmenu {
  display: none;
  left: 0;
}

@media (max-width: 900px) {
  .container {
    margin-left: 20px;
    margin-right: 20px;
  }
  .toolbar {
    width: 100%;
  }
  .homename {
    font-size: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .HeaderList {
    display: none;
  }
  .listcontainer {
    display: none;
  }
  .appmenu {
    display: block;
  }
}
