.GymImagesLayout{
  input[type=file]{
    display: none;
  }
  margin:5px auto;
  padding:10px;
  
  button{
    margin-top:10px;
    margin-bottom:10px;
    cursor:pointer;
    text-align:center;
    border-radius:10px;
    border:1px solid black;
    padding:5px;
  }

  .TextInputLayout{
    display:flex;
    >div:first-child{
      color: red;
    }
  }
}

.explanation{
  margin-bottom:15px;
  height:10px;
  font-size:15px;
  padding:0px;
}

.btnUpload{
  border:1px solid black;
  background-color: white;
  margin-top:20px;
  margin-left:15px;
  width:220px;
  padding:3px;
  text-align: center;
  font-size:13px;
  span{
    margin-left:5px;
    font-size:13px;
    color:gray;
  }
  &:hover{
    cursor:pointer;
  }
}

.imgBox{
  margin-top:10px;
  border:1px solid black;
  min-height:25px;
  padding:5px;
  img{
    width:50px;
    height:50px;
    object-fit: cover;
  }
}
