* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}
.profile {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
